.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.outer-search {
  width: 100%;
  justify-content: center;
}

.col-12.col-sm-6.col-md-4.col-lg-3.col {
  width: 20%;
  border: 1rem;
}

.row {
  --bs-gutter-x: 0rem !important;
}

button.d-flex.align-items-center.btn.btn-primary {
  height: 100%;
}
.h1-title {
  border: 0.05em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
